title{font-family: montserrat, sans-serif; color:#000000}
body{font-family: montserrat, sans-serif; color:#000000}
h1, h2 {font-family: montserrat, sans-serif; font-size: 12; color:#000000; margin-bottom: 30px;}
.center {
    margin-left: auto;
    margin-right: auto;
}
ol {border-style: solid; width: 10%}
tr:nth-child(even) {background-color: #c5c5c5;}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  flex-basis: 150px;
  text-align: right;
  padding-right: 10px;
}

input[type="text"],
select {
  width: 200px;
}
